= simple_form_for @part do |f|
  = f.error_messages
  .group
    .title Details
    .content
      = f.input :number, :input_html => { :size => 12 }
      = f.input :kind, :collection => Part::Kinds, :include_blank => false, :prompt => '(Select one)'
      = f.input :description
  = f.submit

