= simple_form_for @part do |f|
  = f.error_messages
  = group_tag title: 'Details' do
    = f.input :number, input_html: { size: 12 }
    = f.input :kind, collection: Part::Kinds, include_blank: false, prompt: '(Select one)'
    = f.input :description
  = f.submit disable_with: 'Saving ...'
