#title= title 'Parts'

#single_column
  %table
    %thead
      %tr
        %th Number
        %th Kind
        %th Description
        %th Protocol Rev.
        %th
    %tfoot
      %tr
        %td
        %td
        %td
        %td
        %td
          %ul.icons
            - if can? :create, Part
              %li= icon_to 'New', new_part_path
    %tbody
      - @parts.each do |p|
        %tr{:class => cycle('', 'alt')}
          %td= p.number
          %td= p.kind
          %td= p.description
          %td= p.protocols.current.try(:revnum)
          %td
            %ul.icons
              - if can? :read, p
                %li= icon_to 'Show', p
              - if can? :update, p
                %li= icon_to 'Edit', edit_part_path(p)
              - if can? :destroy, p
                %li= icon_to 'Destroy', p, :confirm => 'Are you sure?', :method => :delete

