= title "P/N #{@part}"

.columns
  .fix.left
    = group_tag title: 'Details', export_links: { separator: ' | ' } do
      = render @part

  .fix.right
    = group_tag title: 'Inspection Protocols' do
      = render 'protocols/table', part: @part, protocols: @part.protocols

.actions
  - if can? :read, Part
    = link_to 'View All Parts', parts_path
  - if can? :update, @part
    |
    = link_to 'Edit Part', edit_part_path(@part)
  - if can? :destroy, @part
    |
    = link_to 'Destroy Part', @part, confirm: 'Are you sure?', method: :delete
