= title "P/N #{@part.number}"

= render @part, { group_title: 'Details' }

-if @part.protocols.current
  = render file: 'protocols/_links', locals: { part: @part, protocols: [@part.protocols.current], group_title: 'Current Protocol' }

-if @part.protocols.obsolete.try(:any?)
  = render file: 'protocols/_links', locals: { part: @part, protocols: @part.protocols.obsolete, group_title: 'Obsolete Protocols' }

.actions
  - if can? :read, Part
    = link_to 'View All Parts', parts_path
  - if can? :update, @part
    |
    = link_to 'Edit Part', edit_part_path(@part)
  - if can? :create, Protocol
    |
    = link_to 'New Protocol', new_part_protocol_path(@part)
  - if can? :destroy, @part
    |
    = link_to 'Destroy Part', @part, confirm: 'Are you sure?', method: :delete
