= simple_form_for target do |f|
  = f.error_messages

  .columns
    .fix.left
      .group
        .title Location
        - @protocol.images.each do |i|
          = div_for i do
            = image_tag i.file_url(:fitted).to_s
            - i.locations.each do |o|
              .location_link{ data: { location: o.to_json }}= o.name

    .fix.right
      .group
        .title Checkpoint
        .content
          = render partial: 'checkpoint_location_help'
          = f.input :part_number, input_html: { size: 20, data: {autocomplete_source: subparts_autocomplete_path} }
          = f.input :image_location, input_html: { size: 30 , class: 'image_locator' }
    = f.submit
