= title 'Edit Checkpoint'

= render 'form', target: @checkpoint

.actions
  - if can? :read, @protocol
    = link_to "Back to Protocol #{@protocol}", @protocol
  - if can? :read, @part
    |
    = link_to "Back to P/N #{@part}", @part

