= title "Checkpoint #{@checkpoint}"

.columns
  .fix.left
    = group_tag title: 'Location' , content_class: '' do
      = div_for @checkpoint.image do
        = render @checkpoint.image
        - if @checkpoint.location
          .location_box{ data: { location: @checkpoint.location.to_json(except: [:created_at, :updated_at]) }}

  .fix.right
    = group_tag title: 'Details' do
      = render @checkpoint

.actions
  -if can? :read, @part
    = link_to "Back to P/N #{@part}", @part
  -if can? :read, @protocol
    |
    = link_to "Back to Protocol #{@protocol}", @protocol
  -if can? :update, @checkpoint
    |
    = link_to 'Edit Checkpoint', edit_checkpoint_path(@checkpoint)
  -if can? :destroy, @checkpoint
    |
    = link_to 'Destroy Checkpoint', @checkpoint, confirm: 'Are you sure?', method: :delete

