= simple_form_for @aircraft do |f|
  = f.error_messages
  = group_tag title: 'Details' do
    = f.input :registration, input_html: { size: 8 }
    = f.input :manufacturer, input_html: { size: 12 }
    = f.input :model, input_html: { size: 12 }
  = f.submit disable_with: 'Please Wait ...'
