= title "Aircraft #{@aircraft}"

.columns
  .var.left
    = group_tag title: 'Details', export_links: { separator: ' | ' } do
      = render @aircraft

  .var.right
    = group_tag title: 'Configurations', export_links: {  path: aircraft_konfigurations_path(@aircraft),
                                                          separator: ' | ' } do
      = render 'konfigurations/table', aircraft: @aircraft, konfigurations: @aircraft.konfigurations

.actions
  -if can? :read, Aircraft
    = link_to 'View All Aircrafts', aircrafts_path
  -if can? :update, @aircraft
    |
    = link_to 'Edit Aircraft', edit_aircraft_path(@aircraft)
  -if can? :destroy, @aircraft
    |
    = link_to 'Destroy Aircraft', @aircraft, confirm: 'Are you sure?', method: :delete
