= title "Aircraft #{@aircraft}"

.columns
  .var.left
    .group
      .title
        = show_hide_links
        Details
        = links_to_export separator: " | "
      .content
        = render @aircraft

  .var.right
    .group
      .title
        = show_hide_links
        Configurations
      .content
        = render 'konfigurations/table', aircraft: @aircraft, konfigurations: @aircraft.konfigurations

.actions
  -if can? :read, Aircraft
    = link_to 'View All Aircrafts', aircrafts_path
  -if can? :update, @aircraft
    |
    = link_to 'Edit Aircraft', edit_aircraft_path(@aircraft)
  -if can? :destroy, @aircraft
    |
    = link_to 'Destroy Aircraft', @aircraft, confirm: 'Are you sure?', method: :delete
