- title "Aircraft #{@aircraft.registration}"

= render @aircraft, { :group_title => 'Details' }

- if @aircraft.konfigurations.any?
  = render :file => 'konfigurations/_konfigurations', :locals => { :konfigurations => @aircraft.konfigurations }

.actions
  = link_to 'View All Aircrafts', aircrafts_path
  |
  = link_to 'Edit Aircraft', edit_aircraft_path(@aircraft)
  |
  = link_to 'Destroy Aircraft', @aircraft, :confirm => 'Are you sure?', :method => :delete

