%tr{:class => cycle('', 'alt')}
  %td= konfiguration.number
  %td= konfiguration.description
  %td
    %ul.icons
      %li= icon_to 'Show', konfiguration
      %li= icon_to 'Edit', edit_konfiguration_path(konfiguration)
      %li= icon_to 'Destroy', konfiguration, :confirm => 'Are you sure?', :method => :delete
