= title 'Edit Configuration', "Edit Configuration on |
                               #{link_to @aircraft, @aircraft}" |

= render 'form', { target: @konfiguration }

.actions
  - if can? :read, @konfiguration
    = link_to 'Show', @konfiguration
  -if can? :read, @aircraft
    |
    = link_to "Back to #{@aircraft}", @aircraft
