- title "Edit Configuration ##{@konfiguration.number} on #{@aircraft.registration}"

= render 'form', { :target => @konfiguration }

.actions
  = link_to 'Show', @konfiguration
  |
  = link_to "Back to #{@aircraft.registration}", @aircraft
