= title 'New Configuration', "New Configuration on |
                              #{link_to @aircraft, @aircraft}" |

= render 'form', { target: [@aircraft, @konfiguration] }

.actions
  - if can? :read, @aircraft
    = link_to "Back to #{@aircraft}", @aircraft
