= title "Configuration ##{@konfiguration.number}", "Configuration ##{@konfiguration.number} on |
                                                    #{link_to @aircraft.registration, @aircraft}" |

.columns
  .var.left
    = render @konfiguration, { :group_title => 'Details' }
  .var.right
    - if @konfiguration.zones.any?
      = render :file => 'zones/_zones', :locals => { :zones => @konfiguration.zones }

.actions
  - if can? :read, @aircraft
    = link_to "Back to #{@aircraft.registration}", @aircraft
  - if can? :update, @konfiguration
    |
    = link_to 'Edit Configuration', edit_konfiguration_path(@konfiguration)
  - if can? :destroy, @konfiguration
    |
    = link_to 'Destroy Configuration', @konfiguration, :confirm => 'Are you sure?', :method => :delete

