- title "Configuration ##{@konfiguration.number} on #{@aircraft.registration}"

= render @konfiguration, { :group_title => 'Details' }

- if @konfiguration.zones.any?
  = render :file => 'zones/_zones', :locals => { :zones => @konfiguration.zones }

.actions
  = link_to "Back to #{@aircraft.registration}", @aircraft
  |
  = link_to 'Edit Configuration', edit_konfiguration_path(@konfiguration)
  |
  = link_to 'Destroy Configuration', @konfiguration, :confirm => 'Are you sure?', :method => :delete

