= title "Configuration #{@konfiguration}", "Configuration #{@konfiguration} on |
                                           #{link_to @aircraft, @aircraft}" |

.columns
  .var.left
    = group_tag title: 'Details' do
      = render @konfiguration

  .var.right
    = group_tag title: 'Zones' do
      = render 'zones/table', konfiguration: @konfiguration, zones: @konfiguration.zones

.actions
  - if can? :read, @aircraft
    = link_to "Back to #{@aircraft}", @aircraft
  - if can? :update, @konfiguration
    |
    = link_to 'Edit Configuration', edit_konfiguration_path(@konfiguration)
  - if can? :destroy, @konfiguration
    |
    = link_to 'Destroy Configuration', @konfiguration, confirm: 'Are you sure?', method: :delete

