#search_no_match
  Your search -
  %strong= preset if preset
  = ' AND ' unless preset.nil? || search.nil? || preset.empty? || search.empty?
  %strong= search
  = "- did not match any #{object_name}."
%br
#search_no_match_suggestions
  Suggestions:
  %ul
    %li Make sure all words are spelled correctly.
    %li Use '*' wildcards to broaden your search.
    %li Try more general keywords.
    %li Try different keywords.
