%tr{:class => cycle('', 'alt')}
  %td= zone.name
  %td= zone.description
  %td= "#{zone.inspection_interval} days"
  %td
    %ul.icons
      - if can? :read, zone
        %li= icon_to 'Show', zone
      - if can? :update, zone
        %li= icon_to 'Edit', edit_zone_path(zone)
      - if can? :destroy, zone
        %li= icon_to 'Destroy', zone, :confirm => 'Are you sure?', :method => :delete
