%tr{:class => cycle('', 'alt')}
  %td= zone.name
  %td= zone.description
  %td= zone.inspection_interval
  %td
    %ul.icons
      %li= icon_to 'Show', zone
      %li= icon_to 'Edit', edit_zone_path(zone)
      %li= icon_to 'Destroy', zone, :confirm => 'Are you sure?', :method => :delete
