.group
  .title= group_title
  .content
    %dl
      %dt Name
      %dd= @zone.name
      %dt Description
      %dd= @zone.description
      %dt Insp. Interval
      %dd= "#{@zone.inspection_interval} days"
