- title "New Zone on #{@aircraft.registration}, Configuration ##{@konfiguration.number}"

= render 'form', { :target => [@konfiguration, @zone] }

.actions
  = link_to "Back to Configuration ##{@konfiguration.number}", @konfiguration
  |
  = link_to "Back to #{@aircraft.registration}", @aircraft

