= title 'New Zone', "New Zone on |
                     #{link_to @aircraft.registration, @aircraft}, |
                     #{link_to "Configuration ##{@konfiguration.number}", @konfiguration}" |

= render 'form', { :target => [@konfiguration, @zone] }

.actions
  = link_to "Back to Configuration ##{@konfiguration.number}", @konfiguration
  |
  = link_to "Back to #{@aircraft.registration}", @aircraft

