= title "Zone #{@zone}", "Zone #{@zone} on |
                               #{link_to @aircraft, @aircraft}, |
                               #{link_to "Configuration #{@konfiguration}", @konfiguration}" |

.columns
  .fix.left
    .group
      .title Images
      .selector= render @zone.images
      - @zone.items.locatable.each do |i|
        = link_to i.name, edit_item_path(i), class: 'location_link',
                  data: { location: i.location.to_json(only: [:image_id, :x1, :y1, :x2, :y2]) }

  .fix.right
    .group
      .title Details
      .content
        = render @zone
    .group
      .title Items
      .content
        = render 'items/table', zone: @zone, items: @zone.items

.actions
  - if can? :read, @konfiguration
    = link_to "Back to Configuration #{@konfiguration}", @konfiguration
  - if can? :read, @aircraft
    |
    = link_to "Back to #{@aircraft}", @aircraft
  - if can? :update, @zone
    |
    = link_to 'Edit Zone', edit_zone_path(@zone)
  - if can? :destroy, @zone
    |
    = link_to 'Destroy Zone', @zone, confirm: 'Are you sure?', method: :delete

