= title "Zone #{@zone.name}", "Zone #{@zone.name} on |
                               #{link_to @aircraft.registration, @aircraft}, |
                               #{link_to "Configuration ##{@konfiguration.number}", @konfiguration}" |

.columns
  .fix.left
    .item_location
    = render :file => 'images/_images', :locals => { :images => @zone.images }

  .fix.right
    = render @zone, { :group_title => 'Details' }
    = render :file => 'items/_items', :locals => { :items => @zone.items }

.actions
  = link_to "Back to Configuration ##{@konfiguration.number}", @konfiguration
  |
  = link_to "Back to #{@aircraft.registration}", @aircraft
  |
  = link_to 'Edit Zone', edit_zone_path(@zone)
  |
  = link_to 'Destroy Zone', @zone, :confirm => 'Are you sure?', :method => :delete

