= simple_nested_form_for target do |f|
  = f.error_messages

  .columns
    .fix.left
      .group
        .title Layout
        - @zone.images.each do |i|
          .item_locator= image_tag i.file_url.to_s

    .fix.right
      = render :partial => 'form_details', :locals => { :f => f }
      .group
        .title Location
        .content
          = f.fields_for :location do |o|
            .columns
              .var.left
                = o.input :x1, :input_html => { :size => 3 }
                = o.input :y1, :input_html => { :size => 3 }
                = o.input :x2, :input_html => { :size => 3 }
                = o.input :y2, :input_html => { :size => 3 }
              .var.right
                = render :partial => 'fill_loc_help'
    = f.submit
