%tr{:class => cycle('', 'alt')}
  %td= item.name
  %td= item.kind
  %td= item.part.try(:number)
  %td{:name => 'image_id_' + item.name, :style => 'display:none'}= item.location.try(:image).try(:id)
  %td{:name => 'x1_' + item.name, :style => 'display:none'}= item.location.try(:x1)
  %td{:name => 'y1_' + item.name, :style => 'display:none'}= item.location.try(:y1)
  %td{:name => 'x2_' + item.name, :style => 'display:none'}= item.location.try(:x2)
  %td{:name => 'y2_' + item.name, :style => 'display:none'}= item.location.try(:y2)
  %td
    %ul.icons
      %li= icon_to 'Show', item
      %li= icon_to 'Edit', edit_item_path(item)
      %li= icon_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
