%tr{:class => cycle('', 'alt')}
  %td= item.name
  %td= item.part.try(:kind)
  %td= item.part.try(:number)
  %td
    %ul.icons
      - if can? :read, item
        %li= icon_to 'Show', item
      - if can? :update, item
        %li= icon_to 'Edit', edit_item_path(item)
      - if can? :destroy, item
        %li= icon_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
