%tr{:class => cycle('', 'alt')}
  %td= item.name
  %td= item.kind
  %td
    %ul.icons
      %li= icon_to 'Show', item
      %li= icon_to 'Edit', edit_item_path(item)
      %li= icon_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
