%tr{:class => cycle('', 'alt'), :data => item.location.to_json(:only => [:image_id, :x1, :y1, :x2, :y2])}
  %td= item.name
  %td= item.part.try(:kind)
  %td= item.part.try(:number)
  %td
    %ul.icons
      %li= icon_to 'Show', item
      %li= icon_to 'Edit', edit_item_path(item)
      %li= icon_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
