= title 'New Item', "New Item on |
                      #{link_to @aircraft.registration, @aircraft}, |
                      #{link_to "Configuration ##{@konfiguration.number}", @konfiguration} , |
                      #{link_to "Zone #{@zone.name}", @zone}" |

= render 'form', { target: [@zone, @item] }

.actions
  - if can? :read, @zone
    = link_to "Back to Zone #{@zone.name}", @zone
  - if can? :read, @aircraft
    |
    = link_to "Back to #{@aircraft.registration}", @aircraft

