= title "Item #{@item}", "Item #{@item} on |
                         #{link_to @aircraft, @aircraft}, |
                         #{link_to "Configuration #{@konfiguration}", @konfiguration}, |
                         #{link_to "Zone #{@zone}", @zone}" |

.columns
  .fix.left
    .group
      .title Location
      - if @item.image
        = div_for @item.image do
          = render @item.image
          - if @item.location
            .location_box{ data: { location: @item.location.to_json(except: [:created_at, :updated_at]) } }
      - else
        = render @zone.images

  .fix.right
    .group
      .title Details
      .content
        = render @item

.actions
  -if can? :read, @zone
    = link_to "Back to Zone #{@zone}", @zone
  -if can? :read, @aircraft
    |
    = link_to "Back to #{@aircraft}", @aircraft
  -if can? :update, @item
    |
    = link_to 'Edit Item', edit_item_path(@item)
  -if can? :destroy, @item
    |
    = link_to 'Destroy Item', @item, confirm: 'Are you sure?', method: :delete

