= title "Item #{@item.name}", "Item #{@item.name} on |
                              #{link_to @aircraft.registration, @aircraft}, |
                              #{link_to "Configuration ##{@konfiguration.number}", @konfiguration}, |
                              #{link_to "Zone #{@zone.name}", @zone}" |

.columns
  .fix.left
    .group
      .title Location
      .selector= @item.image ? render(Array(@item.image)) : render(@zone.images)
      - if @item.location
        .location_box{ data: { location: @item.location.to_json(except: [:created_at, :updated_at]) }}

  .fix.right
    .group
      .title Details
      .content
        = render @item

.actions
  -if can? :read, @zone
    = link_to "Back to Zone #{@zone.name}", @zone
  -if can? :read, @aircraft
    |
    = link_to "Back to #{@aircraft.registration}", @aircraft
  -if can? :update, @item
    |
    = link_to 'Edit Item', edit_item_path(@item)
  -if can? :destroy, @item
    |
    = link_to 'Destroy Item', @item, confirm: 'Are you sure?', method: :delete

