= simple_form_for target do |f|
  = f.error_messages

  -# TODO
  -# Make this a multistep form
  -# Step 1. Set Details
  -# Step 2. Add (existing) image(s)
  -# Step 3. Add checkpoint(s) existing parts and locations
  .group
    .title Details
    .inputs
      = f.association :author, include_blank: false, input_html: { readonly: true }
      = f.input :notes, as: :string, input_html: { size: 80 }

  .columns
    .fix.left
      .group
        .title Images
        .content
          %br
          = f.association :images, label: false, input_html: { size: 20 }
          %p
            (To select multiple images use
            %strong Ctrl + Click
            )

    .fix.right
      .group
        .title Checkpoints

  = f.submit

