= simple_nested_form_for target, :html => { :multipart => true } do |f|
  = f.error_messages

  .group
    .title Details
    .inputs
      = f.input :revnum, :input_html => { :readonly => true, :size => 3 }
      = f.input :author, :input_html => { :size => 20 }
      = f.input :notes, :as => :string, :input_html => { :size => 80 }

  .columns
    .fix.left
      -# TODO
      -# Move to partial.
      -# Can't do it now because of nested_form bug on haml partials
      .group
        .title Images
        = f.fields_for :images do |i|
          - if i.object.file_url.nil?
            = i.file_field :file
          - else
            = link_to image_tag(i.object.file_url(:thumb).to_s), i.object.file_url.to_s, :target => '_blank'
          .content= i.link_to_remove 'Remove'
        .content= f.link_to_add 'Add image', :images

    .fix.right
      -# TODO
      -# Move to partial.
      -# Can't do it now because of nested_form bug on haml partials
      .group
        .title Checkpoints
        .content
          = f.fields_for :checkpoints, f.object.checkpoints.sort_natural do |c|
            = c.text_field :number, :label => false, :placeholder => "(#{:number})", :size => 1
            = c.text_field :description, :label => false, :placeholder => "(#{:description})", :size => 25
            =# c.text_field :pn, :label => false, :placeholder => "(#{:pn})", :size => 20
            = c.link_to_remove 'Remove'
          = f.link_to_add 'Add Item', :checkpoints

  = f.submit

