.group
  .title= group_title
  .content
    - protocols.each do |p|
      %dl
        %dt= link_to "Rev. #{p.revnum}", p
        %dd= "by #{p.author}, on #{I18n.l(p.created_at, :format => :short_date)}"
