= title "Edit Protocol", "Edit Protocol on P/N #{link_to @part.number, @part}"

= render 'form', { :target => @protocol }

.actions
  - if can? :read, @protocol
    = link_to 'Show', @protocol
  - if can? :read, @part
    |
    = link_to "Back to P/N #{@part.number}", @part
