= title "Edit Inspection Protocol #{@protocol}", |
        "Edit Inspection Protocol #{link_to @protocol, @protocol} on P/N #{link_to @part, @part}" |

= render 'form', { target: @protocol }

.actions
  - if can? :read, @protocol
    = link_to 'Show', @protocol
  - if can? :read, @part
    |
    = link_to "Back to P/N #{@part}", @part
