= title "New Inspection Protocol", "New Inspection Protocol on P/N #{link_to @part, @part}"

= render 'form', { target: [@part, @protocol] }

.actions
  - if can? :read, @part
    = link_to "Back to P/N #{@part}", @part
