= title "Inspection Protocol #{@protocol}", "Inspection Protocol #{@protocol} on P/N |
                                                                 #{link_to @part, @part}" |

-# TODO
-# WARNING IF THERE ARE INSPECTIONS ALREADY BASED ON THIS PROTOCOL REVISION
-# PROTOCOL SHOULD NOT BE CHANGED. MIGHT COMPROMISE STATE OF ASSOCIATED INSPECTIONS.
-# NEW REVISION SHOULD BE DONE INSTEAD !!!

= group_tag title: 'Details' do
  = render @protocol

.columns
  .fix.left
    = group_tag title: 'Images', content_class: '' do
      = render @protocol.images

  .fix.right
    = group_tag title: 'Checkpoints' do
      = render 'checkpoints/table', protocol: @protocol, checkpoints: @protocol.checkpoints

.actions
  - if can? :read, @part
    = link_to "Back to P/N #{@part}", @part
  - if can? :update, @protocol
    -# TODO
    -# ONLY ALLOW EDITING IF THERE ARE NO INSPECTIONS ASSOCIATED?
    |
    = link_to 'Edit Protocol', edit_protocol_path(@protocol)
  -if @protocol.current? && can?(:destroy, @protocol)
    |
    = link_to 'Destroy Protocol', @protocol, confirm: 'Are you sure?', method: :delete
