%tr{class: cycle('', 'alt')}
  %td= a.action
  %td= a.item.name
  %td= a.checkpoint.part.description
  %td= a.etr
  %td= I18n.l(a.closing.try(:updated_at), format: :short_date) if a.closing.present?
  %td
    %ul.icons
      -# if can? :read, a
        %li= icon_to 'Show', a
      - if can? :update, a
        %li= icon_to 'Edit', edit_tasc_path(a)
      - if can? :destroy, a
        %li= icon_to 'Destroy', a, confirm: 'Are you sure?', method: :delete
