%tr{class: cycle('', 'alt')}
  %td= a.action
  %td= a.item_name
  %td= a.checkpoint_description
  %td= a.etr
  - if info == :full
    %td= a.aircraft_registration
    %td= a.zone_name
  %td= I18n.l(a.created_at.to_time, format: :short_date)
  %td= I18n.l(a.close_date.to_time, format: :short_date) if a.close_date
  %td
    %ul.icons
      - if can? :read, a
        %li= icon_to 'Show', a
      - if can? :update, a
        %li= icon_to 'Edit', edit_tasc_path(a)
      - if can? :destroy, a
        %li= icon_to 'Destroy', a, confirm: 'Are you sure?', method: :delete
