%tr{:class => cycle('', 'alt')}
  %td= tasc.action
  %td= tasc.item.name
  %td= tasc.checkpoint.part.number
  %td= tasc.checkpoint.description
  %td= tasc.technician.name
  %td= I18n.l(tasc.closing.try(:updated_at), :format => :short_date) if tasc.closing.present?
  %td= tasc.closing.try(:responsible)
  %td
