= title 'Edit Task', "Edit Task on |
                     #{link_to @inspection.aircraft, @inspection.aircraft}, |
                     Zone #{link_to "Zone #{@inspection.zone}", @inspection.zone}, |
                     #{link_to "Item #{@item}", @item}" |

= render 'form', target: @tasc, images: @images,
                                locations: @locations,
                                checkpoints: @checkpoints

.actions
  - if can? :read, @tasc
    = link_to 'Show', @tasc
  -if can? :read, @inspection
    |
    = link_to "Back to #{@inspection.aircraft} Inspection", @inspection
