= title 'New Task', "New Task on |
                    #{link_to @inspection.aircraft, @inspection.aircraft}, |
                    #{link_to "Zone #{@inspection.zone}", @inspection.zone}, |
                    #{link_to "Item #{@item}", @item}" |

= render 'form', target: [@inspection, @item, @tasc], images: @images,
                                                      locations: @locations,
                                                      checkpoints: @checkpoints

.actions
  - if can? :read, @inspection
    = link_to "Back to #{@inspection.aircraft} Inspection", @inspection
