= title 'New Task', "New Task on |
                              #{link_to @inspection.aircraft.registration, @aircraft}, |
                              #{link_to "Zone #{@inspection.zone.name}", @zone}, |
                              #{link_to "Item #{@item.name}", @item}" |

= render 'form'

.actions
  - if can? :read, @inspection
    = link_to "Back to #{@inspection.aircraft.registration} Inspection", @inspection
