= title 'Task', "Task on |
                #{link_to @inspection.aircraft, @inspection.aircraft}, |
                #{link_to "Zone #{@inspection.zone}", @inspection.zone}, |
                #{link_to "Item #{@tasc.item}", @tasc.item}" |

.columns
  .fix.left
    = group_tag title: "Inspection Protocol #{@protocol}", content_class: '' do
      - @images.each do |i|
        = div_for i do
          = image_tag i.file_url(:fitted).to_s
          .location_box{ data: { location: @location.to_json(except: [:created_at, :updated_at]) } }

  .fix.right
    = group_tag title: 'Task Details' do
      = render @tasc
    = group_tag title: 'Checkpoint' do
      = render @checkpoint
    = group_tag title: 'Technician' do
      = render @tasc.technician
    - if @tasc.closed?
      = group_tag title: 'Closing' do
        = render @closing
      = group_tag title: 'Engineer' do
        = render @closing.engineer


.actions
  -if can? :read, @inspection
    = link_to "Back to #{@inspection.aircraft} Inspection", @inspection
  -if @tasc.open? && can?(:create, Closing)
    |
    = link_to 'Close Task', new_tasc_closing_path(@tasc)
  -if can? :destroy, @closing
    |
    = link_to 'Re-Open Task', @closing, confirm: 'Are you sure?', method: :delete
  -if can? :update, @tasc
    |
    = link_to 'Edit Task', edit_tasc_path(@tasc)
  -if can? :destroy, @tasc
    |
    = link_to 'Destroy Task', @tasc, confirm: 'Are you sure?', method: :delete
