= simple_form_for @inspection do |f|
  = f.error_messages

  .columns
    .fix.left
      .group
        .title Layout
        - @zone.images.each do |i|
          = div_for i do
            = render i

      - @zone.items.inspectable.locatable.each do |i|
        -# TODO:
        -#   Replace if executed with if can? create or update Tasc
        - unless @inspection.state == :unassigned || @inspection.executed
          = link_to i.name, inspection_item_tascs_path(@inspection, i), class: 'location_link',
                    data: { location: i.location.to_json(only: [:image_id, :x1, :y1, :x2, :y2]) }

    .fix.right
      - unless current_user.role? :technician
        .group
          .title Assignment
          .content
            = f.association :technician,  label: 'Assigned to', collection: Role.find_by_name(:technician).users,
                                          prompt: '(Select technician)'
      - unless @inspection.state == :unassigned
        .group
          .title Assignment
          .content
            = render 'tascs/table', tascs: @inspection.tascs

        .group
          .title Conclusion
          .content
            = f.input :executed, as: :select, include_blank: false

      = f.submit

