.group
  .title= group_title
  .content
    %dl
      %dt Created at
      %dd= I18n.l @inspection.created_at, :format => :short_date
      %dt Last Update
      %dd= I18n.l @inspection.updated_at, :format => :short_date
      %dt Assigned to
      %dd
        - if @inspection.assigned_to.nil?
          = 'no one'
        - else
          = @inspection.assigned_to
      %dt Executed?
      %dd
        - if @inspection.executed
          = "Yes, on #{I18n.l(@inspection.execution_date, :format => :short_date)}"
        - else
          = 'No'
