#title= title 'Inspections'

= render :file => 'shared/search_form', :locals => { :object_class => Inspection, :target => inspections_path }
- if @inspections.empty?
  = render :file => 'shared/no_search_results', :locals => {  :search => params[:query],
                                                              :preset => params[:preset] }
- else
  #single_column
    %table
      %thead
        %tr
          %th State
          %th Date Open
          %th Aircraft
          %th Zone
          %th
      %tfoot
        %tr
          %td{:colspan => 5}= paginate @inspections
      %tbody
        - @inspections.each do |i|
          %tr{:class => cycle('', 'alt')}
            %td= i.state.capitalize
            %td= I18n.l i.created_at.to_time, :format => :short_date
            %td= i.aircraft_registration
            %td= i.zone_name
            %td
              %ul.icons
                - if can? :read, i
                  %li= icon_to 'Show', i
                - if can? :update, i
                  %li= icon_to 'Edit', edit_inspection_path(i)
                - if can? :destroy, i
                  %li= icon_to 'Destroy', i, :confirm => 'Are you sure?', :method => :delete
