#title= title 'Inspections'

%table
  %thead
    %tr
      %th State
      %th Date Open
      %th Aircraft
      %th
  %tfoot
    %tr
      %td{:colspan => 5}
  %tbody
    - @inspections.each do |i|
      %tr{:class => cycle('', 'alt')}
        %td= i.state.capitalize
        %td= I18n.l i.created_at, :format => :short_date
        %td= i.zone.name
        %td
          %ul.icons
            - if can? :read, i
              %li= icon_to 'Show', i
            -# if can? :update, i
              %li= icon_to 'Edit', edit_inspection_path(i)
            - if can? :destroy, i
              %li= icon_to 'Destroy', i, :confirm => 'Are you sure?', :method => :delete
