#title= title 'Inspections'
= link_to 'XLS', params.merge(format: :xls)
|
= link_to 'CSV', params.merge(format: :csv)

= render file: 'shared/search_form', locals: { object_class: Inspection, target: inspections_path }
- if @inspections.empty?
  = render file: 'shared/no_search_results', locals: { search: params[:query],
                                                       preset: params[:preset] }
- else
  = render 'table', inspections: @inspections
