= simple_form_for target do |f|
  = f.error_messages
  .columns
    .fix.left
      = group_tag title: 'Image', content_class: 'locator' do
        = render @image
    .fix.right
      = group_tag title: 'Location' do
        = render partial: 'set_location_help'
        .locator_form
          = f.input :name, input_html: { size: 3 }
          = f.input :x1, input_html: { size: 3 }
          = f.input :y1, input_html: { size: 3 }
          = f.input :x2, input_html: { size: 3 }
          = f.input :y2, input_html: { size: 3 }
      = f.submit disable_with: 'Please Wait ...'
