.group
  .title= group_title
  .content
    %dl
      %dt Image
      %dd= @location.image.file_url.to_s
      %dt x1
      %dd= @location.x1
      %dt y1
      %dd= @location.y1
      %dt x2
      %dd= @location.x2
      %dt y2
      %dd= @location.y2
