= title 'Edit Location', "Edit Location on |
                         #{File.basename @image.file_url, '.*'}" |

= render 'form', { :target => @location }

.actions
  = link_to 'Show', @location
  |
  = link_to 'Back to Image', @image
