= title 'New Location', "New Location on |
                        #{link_to @image, @image}" |

= data_attributes location: @location.to_json(only: [:x1, :y1, :x2, :y2])

= render 'form', target: [@image, @location]

.actions
  = link_to 'Back to Image', @image

