= title "Locations on #{File.basename @image.file_url, '.*'}"

.columns
  .fix.left
    = render :file => 'images/_images', :locals => { :images => Array(@image),
                                                     :group_title => 'Image',
                                                     :image_type => :locator }

  .fix.right
    = render @location, :group_title => 'Details'

.actions
  = link_to 'Edit Location', edit_location_path(@location)
  |
  = link_to 'Destroy Location', @location, :confirm => 'Are you sure?', :method => :delete

