= form_for @image, html: { multipart: true } do |f|
  = f.error_messages

  .columns
    .fix.left
      = group_tag title: 'Image' do
        %strong 1.
        = f.file_field :file
        %br
        %br
        %strong 2.
        = f.submit 'Upload'
