#title= title 'Images'

#single_column
  %table
    %thead
      %tr
        %th Filename
        %th Type
        %th Size
        %th Locations
        %th
    %tfoot
      %tr
        %td{colspan: 4}
        %td
          %ul.icons
            - if can? :create, Image
              %li= icon_to 'New', new_image_path
    %tbody
      - @images.each do |i|
        %tr{class: cycle('', 'alt')}
          %td= File.basename(i.file_url, '.*')
          %td= File.extname(i.file_url).gsub('.', '')
          %td
            - if i.file.size > 1.megabyte
              = "#{i.file.size / 1.megabyte} MB"
            - else
              = "#{i.file.size / 1.kilobyte} kB"

          %td= i.locations.count
          %td
            %ul.icons
              -if can? :read, i
                %li= icon_to 'Show', i
              -if can? :read, i
                %li= icon_to 'Destroy', i, confirm: 'Are you sure?', method: :delete

