= title "Locations on #{File.basename @image.file_url, '.*'}"

.columns
  .fix.left
    = render :partial => 'images', :locals => { :images => Array(@image),
                                                :group_title => 'Image',
                                                :image_type => :link_to_image }

  .fix.right
    = render :file => 'locations/_locations', :locals => { :locations => @locations,
                                                           :group_title => 'Locations' }

.actions
  = link_to 'View All Images', images_path
  |
  = link_to 'Destroy Image', @image, :confirm => 'Are you sure?', :method => :delete

