= title "#{@image}"

.columns
  .fix.left
    .group
      .title Image
      .selector= render @image

      - @locations.each do |o|
        = link_to o.name, edit_location_path(o), class: 'location_link',
                  data: { location: o.to_json(only: [:x1, :y1, :x2, :y2]) }

  .fix.right
    .group
      .title Locations
      .content
        = render 'locations/table', image: @image, locations: @locations.sort_natural

.actions
  = link_to 'View All Images', images_path
  |
  = link_to 'Destroy Image', @image, confirm: 'Are you sure?', method: :delete

