!!!
%html

  %head
    %title= yield(:title) || 'Untitled'
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'application',
                          "controller/#{params[:controller]}.css",
                          'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'
    = javascript_include_tag 'application',
                             "controller/#{params[:controller]}.js"
    = csrf_meta_tag
    = yield(:head)
    = yield(:data_attributes)

  %body
    #header
      %h1 ICIP
      %h2 Interior Cabin Inspection Program
      = image_tag 'tap_me_black.png'
    #menu
      %ul
        %li= link_to 'Inspections', inspections_url
        %li= link_to 'Aircrafts', aircrafts_url
        %li= link_to 'Parts', parts_url
        %li= link_to 'Images', images_url
    #main
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield
    #footer
      2011 by
      = mail_to 'lbacelar@tap.pt', 'Luis Bacelar'
